name: ci

on: [ push, pull_request ]

jobs:
 lint:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout
    uses: actions/checkout@v2
  - name: Set up Node 14
    uses: actions/setup-node@v1
    with:
     node-version: 14
  - run: npm install
  - run: npm run lint
 build:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout
    uses: actions/checkout@v2
  - name: Set up Node 14
    uses: actions/setup-node@v1
    with:
     node-version: 14
  - run: npm install
  - run: npm run build
 test:
  runs-on: ubuntu-latest
  strategy:
   matrix:
    node-version: [ 10, 11, 12, 13, 14 ]
  steps:
  - name: Checkout
    uses: actions/checkout@v2
  - name: Set up Node ${{ matrix.node-version }}
    uses: actions/setup-node@v1
    with:
     node-version: ${{ matrix.node-version }}
  - run: npm install
  - run: npm run test
 report:
  needs: test
  runs-on: ubuntu-latest
  steps:
  - name: Checkout
    uses: actions/checkout@v2
  - name: Set up Node 14
    uses: actions/setup-node@v1
    with:
     node-version: 14
  - run: npm install
  - run: npm run test:coverage
  - run: npm run test:report
  - name: Report to coveralls
    uses: coverallsapp/github-action@v1.1.2
    with:
     github-token: ${{ secrets.GITHUB_TOKEN }}
